body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh; 
    background-color: #f1f1f1;
  }

  form{
    background-color: rgb(245, 243, 243);
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 400px;
    text-align: center;
    border-block-color: rgb(231, 9, 65);
    border-radius: 15px;
    box-shadow: 10px 5px 5px black;

}
label{
    font-size: 50px;
    color: red;
    text-align: center;
    font: condensed 200% sans-serif;

}